<!DOCTYPE html>
<html>
    <title>My Blog</title>
<body>
    <h1>My Blogs</h1>
    <% @blogs.each do |blog| %>
        <p class="title"><%= blog.title %></p>
        <p class="content"><%= blog.content %></p>
        <p class="time"><%= blog.created_at %></p>
    <% end %>
    <%= link_to 'New Blog', '/blogs/new' %>
</body>
</html>