// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
    text-align: center;
    background: lightgrey;
    padding: 1%;
    margin: 0;
}
h1{
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 15px;
}
body{
    background: url('water.png');
    background-size: cover;
}
.main-container{
    margin: 0;
    padding: 3%;
    background: rgba(255,255,255,0.6);
}
.main{
    display: flex;
    text-align: center;
}
.left-block{
    width: 20%;
}
.right-block{
    width: 20%;
}
.blog{
    border: 4px solid black;
    border-radius: 10px;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    width: 31%;
    overflow: auto;
    margin: 5px 1%;
}
.blog-container{
    display: flex;
    flex-flow: row wrap;
    width: 60%;
}
.blog-detail{
    margin: 10px auto;
    text-align: left;
    width: 50%;
}
.new-blog-form{
    margin: 0px 25%;
}
.text-area{
    width: 100%;
    height: 400px;
}
.title-input{
    width: 100%;
}
.title{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
.time{
    color: blue;
}
.bold-text{
    font-weight: bold;
    font-size: 150%;
}

@media screen and (max-width: 740px){
    .blog{
        width: 48%;
    }
}

@media screen and (max-width: 600px){
    .left-block{
        width: 10%;
    }
    .right-block{
        width: 10%;
    }
    .blog-container{
        width: 80%;
    }
}

@media screen and (max-width: 450px){
    .blog{
        width: 96%;
    }
    .new-blog-form{
        margin: 0px 5%;
    }
}